body {
    background: linear-gradient(90deg, #fde9d8 0%, #f9f5ec 15%, #f9f5ec 85%, #c3dae7 100%);
    font-family: "Segoe UI", Arial, sans-serif;
    color: #6b4f23;
    text-align: center;
    margin: 0;
    padding: 0;
}
body::before, body::after {
    content: "";
    position: fixed;
    top: 0; bottom: 0;
    width: 110px;
    z-index: 0;
}
body::before {
    left: 0;
    background: linear-gradient(to top, #fae2be 60%, #f5b971 100%);
    border-top-right-radius: 70px;
    border-bottom-right-radius: 160px;
    z-index: 4;
}
body::after {
    right: 0;
    background: linear-gradient(to bottom, #c3dae7 40%, #7ed4a6 100%);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 130px;
}


h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-top: 56px;
    margin-bottom: 20px;
    color: #6b4f23;
    text-shadow: 0 2px 10px #fae2be33;
}

.detalle-img {
    width: 96vw;
    max-width: 900px;
    height: 540px;
    object-fit: contain; /* usa cover si prefieres que recorte */
    background: #fde9d899;
    border-radius: 38px;
    margin-bottom: 34px;
    box-shadow: 0 8px 38px #c3dae7bb;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 900px) {
    .detalle-img {
        width: 100vw;
        max-width: 99vw;
        height: 260px;
        border-radius: 24px;
    }
}


p {
    font-size: 1.15em;
    margin: 12px 0;
}

.detalle-desc {
    background: #fde9d8bb;
    padding: 13px 12px;
    border-radius: 14px;
    font-size: 1.07em;
    margin-bottom: 16px;
}

.adoptado {
    background: #f5b971;
    color: #fff;
    font-weight: bold;
    padding: 7px 12px;
    border-radius: 9px;
    margin: 16px auto 8px auto;
    font-size: 1.06em;
    display: inline-block;
    min-width: 120px;
    box-shadow: 0 4px 14px #f5b97144;
}

form {
    margin: 24px 0 14px 0;
}

button {
    background: #7ed4a6;
    color: #6b4f23;
    border: none;
    font-size: 1em;
    padding: 9px 28px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 14px #7ed4a644;
    margin-top: 15px;
    transition: background 0.2s;
}
button:hover {
    background: #f5b971;
    color: #fff;
}

a[href="/lista"] {
    display: inline-block;
    background: #7ed4a6;
    color: #6b4f23;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.13em;
    border-radius: 10px;
    padding: 12px 30px;
    margin-top: 32px;
    box-shadow: 0 2px 10px #234b7c66;
    transition: background 0.25s;
}
a[href="/lista"]:hover {
    background: #f5b971;
    color: #fff;
}
