body {
    background: linear-gradient(90deg, #fde9d8 0%, #f9f5ec 15%, #f9f5ec 85%, #c3dae7 100%);
}
body::before, body::after {
    content: "";
    position: fixed;
    top: 0; bottom: 0;
    width: 110px;
    z-index: 0;
}
body::before {
    left: 0;
    background: linear-gradient(to top, #fae2be 60%, #f5b971 100%);
    border-top-right-radius: 70px;
    border-bottom-right-radius: 160px;

    z-index: 4;
}
body::after {
    right: 0;
    background: linear-gradient(to bottom, #c3dae7 40%, #7ed4a6 100%);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 130px;
}

.hero {
    background: linear-gradient(rgba(252, 233, 210, 0), rgba(245,236,210,0.38)), url('/img/hero.jpg') center/cover no-repeat;
    height: 650px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    clip-path: ellipse(85% 100% at 50% 0%);
    z-index: 9;    
}
.herotitle {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
    margin-top: 36px;
    margin-bottom: 60px;
    text-shadow: 0 5px 12px rgb(17, 34, 51);
    z-index: 2;
    text-align: center;
}
.content.login-card {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 97vw;
    background: rgba(252,233,210,0.87);
    color: #6b4f23;
    border-radius: 22px;
    box-shadow: 0 12px 46px #e7e7e7a8, 0 2px 32px #f5b97133;
    padding: 46px 19px 32px 19px;
    z-index: 99;
    border: 2px solid #e7e7e7;
}
.content.login-card p {
    font-size: 18px;
    text-align: center;
}

.stats{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    gap: 42px;
    margin-top: 300px;
    padding: 20px;color: #6b4f23;
    background: linear-gradient(90deg, #fde9d8 20%, #f9f5ec 40%, #68ca9c 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid #e7e7e7;
}

.bienvenida {
    margin-bottom: 18px;
    font-size: 1.11em;
    line-height: 1.3;
}
.login-card form {
    margin-bottom: 16px;
}
.content.login-card hr {
    margin:26px auto 12px auto;
    width:80%;
    border:0;
    border-top:1.5px solid #eee;
}
.principal-link {
    display: block;
    margin: 22px auto 0 auto;
    width: auto;
    min-width: 220px;
    max-width: 83%;
    text-align: center;
    padding: 14px 36px;
}
